aws-msk-iam-sasl-signer-python
confluent-kafka
fastapi==0.110.0
ffmpeg-python
google-generativeai
gunicorn
Pillow
pydantic
pydantic_settings
pytest
pytest-asyncio
setuptools
setuptools
slack_sdk
tqdm
uvicorn==0.22.0
